<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="CrmUrl" value="AuthType=AD;Url=https://pwvcrm01.dept.gov.au/BoardAppointmentsStaging; Domain=dept; Username=ankornepati; Password=SidAarush041980!"/>
	</appSettings>
</configuration>